<!--
 *
 * @author - Adrian Aquino
 * @file footer.ejs - Footer partial for all pages
 *
 * 5/14/25 - Modified by Adrian Aquino, updated application branding
 *
 -->
</main>
<footer>
  <p>&copy; <%= new Date().getFullYear() %> PantryPal. All rights reserved.</p>
</footer>
<script src="/js/main.js"></script>
</body>
</html>